{include file="public/header"}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">功能区</li>
            <li class="active treeview menu-open">
                <a href="#">
                    <i class="glyphicon glyphicon-home"></i> <span>主页</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="/home"><i class="fa fa-circle-o"></i>网站数据</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-th-large"></i> <span>App管理</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/app/list"><i class="fa fa-circle-o"></i>app列表</a></li>
                    <li><a href="/app/add"><i class="fa fa-circle-o"></i>app添加</a></li>
                    <li><a href="/app/type"><i class="fa fa-circle-o"></i>分类添加</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                数据中心
                <small>每日增长</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i> 主页</a></li>
                <li class="active">网站数据</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{$appCount}</h3>

                            <p>App总数</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>{$dayCount}</h3>

                            <p>当日点击</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->

            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-8 connectedSortable">
                    <!-- AREA CHART -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">日流量</h3>
                            <!-- close button -->
                            <!-- <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div> -->
                            <!-- /.close button -->
                        </div>
                        <div class="box-body chart-responsive">
                            <div class="chart" id="day-flow" style="height: 300px;"></div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </section>
                <!-- /.Left col -->
                <!-- right col (We are only adding the ID to make the widgets sortable)-->
                <section class="col-lg-4 connectedSortable">
                    <!-- PRODUCT LIST -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">访问量排行</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <ul class="products-list product-list-in-box">
                                {volist name="clickOrder" id="app" key="k" empty="暂时没有数据"}
                                <li class="item">
                                    <div class="product-img">
                                        <img src="{$app.icon_src}" alt="Product Image">
                                    </div>
                                    <div class="product-info">
                                        <a href="javascript:void(0)" class="product-title">{$app.name}
                                            <span class="label label-info pull-right">累计点击：{$app.count_time}</span></a>
                                        <span class="product-description">
                                            第 {$k} 名
                                        </span>
                                    </div>
                                </li>
                                {/volist}
                            </ul>
                        </div>
                        <!-- /.box-body -->
                        <!-- <div class="box-footer text-center">
                            <a href="javascript:void(0)" class="uppercase">View All Products</a>
                        </div> -->
                        <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->
                </section>
                <!-- right col -->
            </div>
            <!-- /.row (main row) -->
        </section>
        <!-- /.content -->
    </div>
{include file="public/footer"}
<script>
    console.log({$flow})
    var area = new Morris.Area({
        element   : 'day-flow',
        resize    : true,
        data      : {$flow},
        xkey      : 'date_time',
        ykeys     : ['day_flow'],
        labels    : ['日流量'],
        lineColors: ['#3c8dbc', '#3c8dbc'],
        hideHover : 'auto',
    });
</script>
</body>
</html>