<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 0.0.1
    </div>
    Copyright &copy; 2018-2020 <strong><a href="http://btcappstore.com/#/">dadangjia</a>.</strong> All rights
    reserved.
</footer>
</div>
<!-- ./wrapper -->
<!-- jQuery 3 -->
<script src="__STATIC__/admin/lte/bower_components/jquery/dist/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="__STATIC__/admin/lte/bower_components/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.7 -->
<script src="__STATIC__/admin/lte/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Morris.js charts -->
<script src="__STATIC__/admin/lte/bower_components/raphael/raphael.min.js"></script>
<script src="__STATIC__/admin/lte/bower_components/morris.js/morris.min.js"></script>
<!-- Sparkline -->
<script src="__STATIC__/admin/lte/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="__STATIC__/admin/lte/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="__STATIC__/admin/lte/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="__STATIC__/admin/lte/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="__STATIC__/admin/lte/bower_components/moment/min/moment.min.js"></script>
<script src="__STATIC__/admin/lte/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="__STATIC__/admin/lte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="__STATIC__/admin/lte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="__STATIC__/admin/lte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- iCheck 1.0.1 -->
<script src="__STATIC__/admin/lte/plugins/iCheck/icheck.min.js"></script>
<!-- FastClick -->
<script src="__STATIC__/admin/lte/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="__STATIC__/admin/lte/dist/js/adminlte.min.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="__STATIC__/admin/lte/dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="__STATIC__/admin/lte/dist/js/demo.js"></script>
<!-- DataTables -->
<script src="__STATIC__/admin/lte/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="__STATIC__/admin/lte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- Select2 -->
<script src="__STATIC__/admin/lte/bower_components/select2/dist/js/select2.full.min.js"></script>
<!-- InputMask -->
<script src="__STATIC__/admin/lte/plugins/input-mask/jquery.inputmask.js"></script>
<script src="__STATIC__/admin/lte/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="__STATIC__/admin/lte/plugins/input-mask/jquery.inputmask.extensions.js"></script>

<script>
    $(".treeview").click(function () {
        $(this).siblings('li').removeClass('active');
        $(this).addClass("active");
    })
</script>