<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">功能区</li>
            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-home"></i> <span>主页</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{:url('index/index')}"><i class="fa fa-circle-o"></i>网站数据</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-th-large"></i> <span>App管理</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{:url('app/index')}"><i class="fa fa-circle-o"></i>app列表</a></li>
                    <li><a href="{:url('app/add')}"><i class="fa fa-circle-o"></i>app添加</a></li>
                    <li><a href="{:url('app/type')}"><i class="fa fa-circle-o"></i>分类添加</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>