<script src="../../../../../../Library/Containers/com.tencent.xinWeChat/Data/Library/Application Support/com.tencent.xinWeChat/2.0b4.0.9/7067a97506dac7ad6a627c8d967bdb06/Message/MessageTemp/842c40050667e6b36893ea46060d9213/File/qreport.js"></script>{include file="public/header"}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">功能区</li>
            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-home"></i> <span>主页</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/home"><i class="fa fa-circle-o"></i>网站数据</a></li>
                </ul>
            </li>
            <li class="active treeview menu-open">
                <a href="#">
                    <i class="glyphicon glyphicon-th-large"></i> <span>App管理</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/app/list"><i class="fa fa-circle-o"></i>app列表</a></li>
                    <li class="active"><a href="/app/add"><i class="fa fa-circle-o"></i>app添加</a></li>
                    <li><a href="/app/type"><i class="fa fa-circle-o"></i>分类添加</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            添加app
            <!--<small>Preview</small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="glyphicon glyphicon-th-large"></i> App管理</a></li>
            <li class="active">app添加</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <!-- general form elements -->
            <div class="box box-primary">
                <!-- form start -->
                <form role="form" method="post" action="/app/save">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="">图片</label><br/>
                            <input type="hidden" name="icon_src" value="">
                            <img id="upload" style="width: 100px;height: 100px;"
                                 src="__STATIC__/admin/lte/local_img/add.png" alt="上传图片">
                        </div>
                        <div class="form-group">
                            <label>App分类</label>
                            <select name="type_id" class="form-control select2" style="width: 100%;">
                                <option value=""></option>
                                {volist name="typeList" id="type"}
                                <option value="{$type.type_id}">{$type.type_name}</option>
                                {/volist}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="name">名称</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="app名称">
                        </div>
                        <div class="form-group">
                            <label for="official_url">官网地址</label>
                            <input type="url" name="official_url" class="form-control" id="official_url" placeholder="app官网">
                        </div>
                        <div class="form-group">
                            <label for="android_url">安卓下载地址</label>
                            <input type="url" name="android_url" class="form-control" id="android_url" placeholder="下载地址">
                        </div>
                        <div class="form-group">
                            <label for="iphone_url">苹果下载地址</label>
                            <input type="url" name="iphone_url" class="form-control" id="iphone_url" placeholder="下载地址">
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
</div>
{include file="public/footer"}
<script>
    //Initialize Select2 Elements
    $('.select2').select2()

    var upurl = "{:url('app/upload')}";             //上传图片地址
    layui.use('upload', function(){
        var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
            elem: '#upload'                         //绑定元素
            ,url: upurl                             //上传接口
            ,before: function(obj) {
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
            },
            done: function(res) {
                layer.close(layer.msg());
                $("#upload").attr('src',res.data);
                $(":input[name='icon_src']").val(res.data);
            }
            ,error: function(err){
                //请求异常回调
                console.log(err);
            }
        });
    });
</script>
</body>
</html>