{include file="public/header"}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">功能区</li>
            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-home"></i> <span>主页</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/home"><i class="fa fa-circle-o"></i>网站数据</a></li>
                </ul>
            </li>
            <li class="active treeview menu-open">
                <a href="#">
                    <i class="glyphicon glyphicon-th-large"></i> <span>App管理</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="/app/list"><i class="fa fa-circle-o"></i>app列表</a></li>
                    <li><a href="/app/add"><i class="fa fa-circle-o"></i>app添加</a></li>
                    <li><a href="/app/type"><i class="fa fa-circle-o"></i>分类添加</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            编辑app
            <!--<small>Preview</small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="glyphicon glyphicon-home"></i> app管理</a></li>
            <li>app列表</li>
            <li class="active">编辑app</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <!-- general form elements -->
            <div class="box box-primary">
                <!-- form start -->
                <form role="form" method="post" action="/app/save">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="">图片</label><br/>
                            <input type="hidden" name="icon_src" value="{$app.icon_src?$app.icon_src:''}">
                            <img id="upload" style="width: 100px;height: 100px;"
                                 src="{$app.icon_src?$app.icon_src:'__STATIC__/admin/lte/local_img/add.png'}" alt="上传图片">
                        </div>
                        <div class="form-group">
                            <label>App分类</label>
                            <select name="type_id" class="form-control select2" style="width: 100%;">
                                {volist name="typeList" id="type"}
                                <option value="{$type.type_id}"
                                        {if condition="$type.type_id == $app.type_id"}selected="selected"{/if}>
                                    {$type.type_name}
                                </option>
                                {/volist}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="name">名称</label>
                            <input type="text" name="name" class="form-control"
                                   id="name" placeholder="app名称" value="{$app.name}">
                        </div>
                        <div class="form-group">
                            <label for="official">官网地址</label>
                            <input type="url" name="official_url" class="form-control"
                                   id="official" placeholder="app官网" value="{$app.official_url}">
                        </div>
                        <div class="form-group">
                            <label for="android">安卓下载地址</label>
                            <input type="url" name="android_url" class="form-control"
                                   id="android" placeholder="下载地址" value="{$app.android_url}">
                        </div>
                        <div class="form-group">
                            <label for="iphone">苹果下载地址</label>
                            <input type="url" name="iphone_url" class="form-control"
                                   id="iphone" placeholder="下载地址" value="{$app.iphone_url}">
                        </div>
                        <div class="form-group">
                            <input type="radio" name="status" value="1" class="minimal-red"
                                   id="on" {if $app.status == 1}checked{/if}>
                            <label style="margin-right: 15px;" for="on">有效</label>
                            <input type="radio" name="status" value="0" class="minimal-red"
                                   id="off" {if $app.status == 0}checked{/if}>
                            <label for="off">无效</label>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <input type="hidden" name="app_id" value="{$app.app_id}">
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
</div>
{include file="public/footer"}
<script>
    //Initialize Select2 Elements
    $('.select2').select2()

    var upurl = "{:url('app/upload')}";             //上传图片地址
    layui.use('upload', function(){
        var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
            elem: '#upload'                         //绑定元素
            ,url: upurl                             //上传接口
            ,before: function(obj) {
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
            },
            done: function(res) {
                layer.close(layer.msg());
                $("#upload").attr('src',res.data);
                $(":input[name='icon_src']").val(res.data);
            }
            ,error: function(err){
                //请求异常回调
                console.log(err);
            }
        });
    });
</script>
</body>
</html>