{include file="public/header"}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">功能区</li>
            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-home"></i> <span>主页</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/home"><i class="fa fa-circle-o"></i>网站数据</a></li>
                </ul>
            </li>
            <li class="active treeview menu-open">
                <a href="#">
                    <i class="glyphicon glyphicon-th-large"></i> <span>App管理</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="/app/list"><i class="fa fa-circle-o"></i>app列表</a></li>
                    <li><a href="/app/add"><i class="fa fa-circle-o"></i>app添加</a></li>
                    <li><a href="/app/type"><i class="fa fa-circle-o"></i>分类添加</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            app列表
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="glyphicon glyphicon-th-large"></i> App管理</a></li>
            <li class="active"><a href="#">app列表</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-tools col-xs-12" style="padding: 10px 0;">
                        <form role="form" method="post" action="/app/list">
                            <div class="col-xs-5" style="width: 150px;">
                                <select name="type_id" class="form-control select2" style="width: 100%;">
                                    <option value="">选择类别</option>
                                    {volist name="typeList" id="type"}
                                    <option value="{$type.type_id}">{$type.type_name}</option>
                                    {/volist}
                                </select>
                            </div>
                            <div class="col-xs-2">
                                <input type="text" name="name" class="form-control" placeholder="名称">
                            </div>
                            <div class="col-xs-1">
                                <button type="submit" class="btn btn-block btn-primary">搜索</button>
                            </div>
                            <!-- <div class="input-group input-group-sm" style="width: 150px;float: left;margin-left: 12px">
                                <input type="text" name="name" class="form-control pull-right"
                                       placeholder="搜索">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div> -->
                        </form>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>名称</th>
                                <th>类别</th>
                                <th>官方网站</th>
                                <th>安卓下载地址</th>
                                <th>苹果下载地址</th>
                                <th>状态</th>
                                <th>排序值</th>
                                <th>添加时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="appList" id="app"}
                            <tr>
                                <td>{$app.app_id}</td>
                                <td>{$app.name}</td>
                                <td>{$app.type_name}</td>
                                <td>{$app.official_url}</td>
                                <td>
                                    {if condition="!$app.android_url"}
                                    {else /}
                                    有
                                    {/if}
                                </td>
                                <td>
                                    {if condition="!$app.iphone_url"}
                                    {else /}
                                    有
                                    {/if}
                                </td>
                                <td>{$app.status|status}</td>
                                <td>
                                    <input class="orderid" size="3" type="text" attr-id="{$app.app_id}" name="order_id" value="{$app.order_id}" />
                                </td>
                                <td>{$app.create_time}</td>
                                <td>
                                    <a href="/app/edit/{$app.app_id}">
                                        编辑
                                    </a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div>{$appList->render()}</div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{include file="public/footer"}
<!-- page script -->
<script>
    //Initialize Select2 Elements
    $('.select2').select2()

    $('.orderid').blur(function () {
        let id = $(this).attr('attr-id');
        let orderId = $(this).val();
        let postData = {
            'id': id,
            'orderId': orderId,
        }
        var url = "{:url('app/listorder')}";
        $.post(url, postData, function (res) {
            if(res.status === 1) {
                location.reload();
            } else {
                alert(res.info);
            }
        },"json");
    });
</script>
</body>
</html>