{include file="public/header"}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">功能区</li>
            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-home"></i> <span>主页</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/home"><i class="fa fa-circle-o"></i>网站数据</a></li>
                </ul>
            </li>
            <li class="active treeview menu-open">
                <a href="#">
                    <i class="glyphicon glyphicon-th-large"></i> <span>App管理</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/app/list"><i class="fa fa-circle-o"></i>app列表</a></li>
                    <li><a href="/app/add"><i class="fa fa-circle-o"></i>app添加</a></li>
                    <li class="active"><a href="/app/type"><i class="fa fa-circle-o"></i>分类添加</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            分类添加
            <!--<small>Preview</small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="glyphicon glyphicon-th-large"></i> App管理</a></li>
            <li class="active">分类添加</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <!-- general form elements -->
            <div class="box box-primary">
                <!-- form start -->
                <form role="form" method="post" action="/app/type">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="type_name">分类名称</label>
                            <input type="text" name="type_name" class="form-control"
                                   id="type_name" placeholder="分类名称">
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">添加</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>名称</th>
                                <th>状态</th>
                                <th>添加时间</th>
                                <!--<th>操作</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="typeList" id="type"}
                            <tr>
                                <td>{$type.type_id}</td>
                                <td>{$type.type_name}</td>
                                <td>{$type.status|status}</td>
                                <td>{$type.create_time}</td>
                                <!--<td><a href="">编辑</a></td>-->
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div>{$typeList->render()}</div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
</div>
{include file="public/footer"}
</body>
</html>